@inject HttpClient Http
@page "/"

<div class="search-container">
    <h1>Country Search</h1>
    <div class="search-input">
        <input type="text" @bind="searchValue" />
        <button type="submit" value="searchValue" @onclick="searchCountry"> Search </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>City</th>
                <th>Country</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Pressure</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var d in data)
            {
                <tr>
                    <td>@d.name</td>
                    <td>@d.sys.country</td>
                    <td>@d.main.temp</td>
                    <td>@d.main.humidity</td>
                    <td>@d.main.pressure</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private Root[] data;
    string searchValue = "";
    const string API_KEY = "b14c995566a1eb4fb31557124f720a82";

    public void searchCountry()
    {
        Console.WriteLine(searchValue);
    }

    protected override async Task OnInitializedAsync()
    {
        string url = "api.openweathermap.org/data/2.5/weather?q=Navan&appid=b14c995566a1eb4fb31557124f720a82";
        data = await Http.GetFromJsonAsync<Root[]>(url);

        foreach (var d in data)
        {
            //Console.WriteLine(d.name + "  " + d.capital + "  " + d.region + "  " + d.population);
        }
    }
}




